.product-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}
.product {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 2rem;
}
.product-details {
    flex: 1;
    max-width: 850px;
    min-width: 550px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.purchase {
    border: 1px solid var(--gray-200);
    min-width: 210px;
    border-radius: 10px;
    padding: 20px;
}
.purchase p {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray-200);
}
.controls {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    align-items: flex-start;
    gap: 10px;
    padding: 1rem 0;
}
.btn {
    width: 100%;
}
.related-items {
    width: 100%;
}


